.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}

.total h3 {
	font-size: 30px;
}

.close-btn,
.order-btn {
	font-weight: normal;
	font-size: 20px;
	padding: 15px 40px;
	border: 1px solid #7f2607;
}

.close-btn {
	background: white;
	color: #7f2607;
}

.close-btn:hover {
	background: #df9677;
	border-color: #df9677;
	color: white;
}

.order-btn {
	background: #7f2607;
	margin-left: 20px;
}

.order-btn:hover {
	background: #9f4627;
}
