.orderModal {
	background: white;
	padding: 30px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loadingSpinner {
	color: white;
	font-size: 36px;
	animation: spin 1.5s linear 0s infinite;
}
