.orderModal {
	background: white;
	padding: 30px;
}

.totalPriceContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
	margin: 15px 0;
}

.buttonContainer {
	text-align: end;
}

.transparentBtn,
.filledBtn {
	font-weight: normal;
	font-size: 24px;
	padding: 10px 30px;
	text-align: center;
	line-height: 24px;
}

.filledBtn {
	background: #892b06;
}

.transparentBtn {
	border: 1px solid #892b06;
	background: transparent;
	color: #892b06;
}

.transparentBtn:hover,
.filledBtn:hover {
	background-color: #5a1a01;
	border-color: #5a1a01;
	color: white;
}

.rightmostBtn {
	margin-left: 20px;
}
