.notice {
	background: #323132;
	color: white;
	text-align: center;
	width: 800px;
	padding: 0 20px;
	margin-top: 180px;
}

.notice h3 {
	margin: 25px 0 40px;
	font-size: 40px;
}

.notice p {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 24px;
}

.notice p:last-child {
	margin-bottom: 35px;
}
