main {
	margin-top: 77px;
	width: 100%;
	min-height: calc(100vh - 77px);
	position: relative;
}

.bg-image {
	width: 110%;
	position: absolute;
	transform: rotateZ(-11deg) scale(1.6);
	transform-origin: left bottom;
	top: 150px;
	z-index: -1;
}

@media only screen and (min-width: 768px) {
	.bg-image {
		top: 0;
		transform: rotateZ(-11deg);
	}
}

@media only screen and (min-width: 900px) {
	.bg-image {
		top: -150px;
	}
}

@media only screen and (min-width: 1200px) {
	.bg-image {
		top: -300px;
	}
}
