.app-main {
	margin-top: 77px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bg-image-container {
	width: 100%;
	overflow: hidden;
	position: absolute;
	/* top: 150px; */
	z-index: -1;
}

.bg-image {
	width: 110%;
	transform: rotateZ(-11deg) scale(1.6);
	transform-origin: left bottom;
}

@media only screen and (min-width: 768px) {
	.bg-image-container {
		top: 0;
	}

	.bg-image {
		transform: rotateZ(-11deg);
	}
}

@media only screen and (min-width: 900px) {
	.bg-image-container {
		top: -150px;
	}
}

@media only screen and (min-width: 1200px) {
	.bg-image-container {
		top: -300px;
	}
}

@media only screen and (min-width: 1400px) {
	.bg-image-container {
		top: -400px;
	}
}

.mainFooter {
	background: #111;
	height: 150px;
	line-height: 150px;
	text-align: center;
	color: #aaa;
	font-size: 20px;
}
